#pane {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid black;
  width: 250px;
  height: 225px;
  display: block;
  background-color: white;
  z-index: 2;
}

#title {
  text-align: center;
}

.years {
  margin-bottom: 30px;
  text-align: center;
  line-height: .1;
}

.stats {
  margin-left: 55px;
}

.numbers {
  font-weight: bold;
}

/* #x-axis {
  position: absolute;
  bottom: 50px;
  left: 94px;
  z-index: 2;
}

.x-label {
  margin-left: 31px;
}

#y-axis {
  position: absolute;
  bottom: 70px;
  left: 80px;
  z-index: 2;
}

.y-label {
  line-height: .7em;
  padding-top: 1.5px;
} */

#view-radio {
  position: absolute;
  background-color: white;
  width: 250px;
  top: 235px;
  right: 5px;
  border: 1px solid black;
  display: block;
  z-index: 2;
}

.x-label {
  transform: translateX(15px) rotateZ(55deg);
  width: 5px;
  height: 5px;
  /* background-color: black; */
  z-index: 2;
  position: absolute;
  display: block;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 1;
}

.y-label {
  transform: translateX(-32px) translateY(-19px);
  width: 5px;
  height: 5px;
  /* background-color: black; */
  z-index: 2;
  position: absolute;
  display: block;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 1;
}

.z-label {
  transform: translateX(-22px) translateY(-24px);
  width: 5px;
  height: 5px;
  /* background-color: black; */
  z-index: 2;
  position: absolute;
  display: block;
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
